body{
	background-image : url("../Images/A1.jpg");
	margin-left: 28px;
}

.logo{
	margin-top: -90px;  
}

h1.pageheader{
	font-family: Adamina;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 42px;
	color: black;
}

hr.line1{
	border: 1px solid black;
	width: 1700px;
	margin-right: 10.7px;
}

.line2{
	border-left: 2px solid black;
	height: 1500px;
	position: absolute;
	left: 13%;
	margin-left: -50px;
	top: 0;
}

.footer {
	background: black;
	width: 1800px;
	height:200px;
	position:relative;
	padding-left: 110px;
	padding-right: 25px;
	margin-left: -35px;
	margin-top: 100px;   
}

.footer-content {
	color: silver;
	font-weight: 200;
	font-size: 15px;
	padding: 25px;
	display: flex;
}

.footer-section-links{	
	margin-left: 125px;
}

.Contact-Us{
	margin-left: 125px;
}

.Barcode{
	margin-left: 200px;
	margin-top: 25px;
}

.Social{ 
    margin-left: 5%;
	margin-top: 25px;
	opacity: 0.65;
	transition: 1.0s;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}
  
.fa:hover {
	  opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
  }
.youtube:hover {
	opacity: 0.9;
}
.twitter:hover {
	opacity: 0.9;	
}
.instagram:hover {
	opacity: 0.9;	
}

.slideshow-container {
  position: relative;
  height:300px;
  margin-left: 1125px;
  margin-top: -800px;
  transition-duration: 60s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 6s;
  transition-duration: 50s;
}

@keyframes fade {
  from {opacity: 0.01} 
  to {opacity: 1}
}


@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#slide, #a1,#a2,#a3,#a4,#a5{
	border:5px solid #272724 ;
}

.images{
	margin-left: 210px;
	margin-top: 50px;
}#a1{
	--margin-left: 20px;
	margin-right: 20px;
}#a2{
	margin-left: 300px;
	margin-top: -150px;
}#a3{
	margin-left: 600px;
	margin-top: -250px;
}#a4{
	margin-left: 3px;
	margin-top: -100px;
}#a5{
	margin-left: 305px;
	margin-top: -180px;
}

.category{
	padding: 8px;
	cursor: pointer;
	font-family: Asap;
	font-size: 17px;
	opacity: 0.8;
	color:yellow;
	background: black;
	box-shadow: 4px 3px 4px black;
}
#btn1{
	margin-left: 90px;
	margin-top: 20px;
}
 
#btn2{
	margin-left: 390px;
	margin-top: 20px;
}
#btn3{
	margin-left: 680px;
	margin-top: 20px;
}
#btn4{
	margin-left: 80px;
	margin-top: 20px;
}
#btn5{
	margin-left: 380px;
	margin-top: 20px;
}
#btn1:hover,#btn2:hover,#btn3:hover,#btn4:hover,#btn5:hover{
	opacity: 1.0;
}

.search-box{
	position: absolute;
	top:105px;
	left:20%;
	background: black;
	height: 18px;
	width: 400px;
	border-radius: 70px;
	padding:10px;
	animation: fadeEffect 1s;
}

.search-btn{
	color: yellow;
	float:right;
	width:25px;
	height:25px;
	border-radius:50px;
	display: flex;
	justify-content:center;
	align-items:center;
}

.search-txt{
	border:none;
	background:none;
	outline:none;
	float:left;
	padding:0;
	color: white;
	font-size:16px;
}
 
.search-box:hover > .search-btn{
	background: yellow;
	color: black;
}

.log{
	margin-left: 1200px;
	margin-top: -50px;
}
#asd{
	height: 35px;
	border-radius: 70px;
	font-size: 15px;
	background: black ;
	color: yellow;
	animation: fadeEffect 1s;
	box-shadow: 3px 2px 3px black;
}
#img{
	margin-top: -90px;
	margin-left: 1420px;
}

.menu{
	margin: 10px;
	padding: 12px;
	list-style: none;
	text-decoration: none;
}

.sidebar{
	margin-top: -10px;
	position: fixed;
	left: 0;
	width: 200px;
	height: 600px;
	background: black;
}
.sidebar ul a{
	display: block;
	height: 55px;
	width: 100%;
	line-height:20px;
	font-size: 25px;
	color: yellow;
	padding-left: 20px;
	padding-top:6px;
	transition: 0.4s;
	text-decoration: none;
}
ul li:hover a{
	padding-left: 50px;
}